/* Header */
header {
    width: 100%;
    background-image: url(images/Object.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

a {
    text-decoration: none;
    color: #ffffffff;
}

li {
    list-style: none;
}

.links {
    padding: 1.5rem;
}

.header-links {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.list {
    display: flex;
    padding: 1rem;
    gap: 52px;
    float: inline-end;
}

.get-schooled {
    flex-direction: column;
}
.extra {
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.school {
    display: flex;
    flex-direction: row;
    gap: 59px;
    max-width: 1000px;
    margin: 0% auto;
    align-content: center;
}

.school-text{
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    max-width: 1000px;
    margin: 0% auto;
}

button {
    border-radius: 22px;
    background: rgb(161, 107, 202);
    border: none;
    align-self: center;
}

.but {
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-content: center;
}

b {
    color: #C271FF;
    font-family: Source Sans Pro;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.from {
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: center;
}

.experts-container {
    display: flex;
    flex-direction: row;
}

.container1 {
    background-color: #C271FF;
}

.container2 {
    display: flex;
    flex-direction: row;
}

.quotes-2 {
}

.f-background {
    background-color: #071629;
}

.smile-img {
    display: flex;
    flex-direction: row;
}

footer {
    background: #071629;
}

.footer-1 {
    display: flex;
    flex-direction: row;
}