/* Header */
header {
    width: 100%;
    background-image: url(images/Object.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

a {
    text-decoration: none;
    color: #ffffffff;
}

li {
    list-style: none;
}

.links {
    padding: 1.5rem;
}

.header-links {
    display: inline-flex;
    flex-direction: row;
}

.list {
    display: flex;
    padding: 1rem;
    gap: 52px;
    float: inline-end;
}

.get-schooled {
    flex-direction: column;
}
.extra {
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.school {
    display: flex;
    flex-direction: row;
    gap: 59px;
    align-items: center;
}

.school-text{
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

button {
    border-radius: 22px;
    background: #C271FF;
    border: none;
}

.but {
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

b {
    color: #C271FF;
    font-family: Source Sans Pro;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.from {
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: center;
}