/* Header */
header {
    background-image: url(images/Object.png);
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: #ffffffff;
}

li {
    list-style: none;
}

.list {
    display: inline-flex;
    height: 15px;
    justify-content: center;
    align-items: flex-start;
    gap: 52px;
    flex-shrink: 0;
}