body {
    Display: flex;
    Flex-direction: column
}
main {
    Display: flex;
    Flex-direction: ROW;
    Flex: auto
}
article {
    Flex: 2;
    overflow-y: auto;
}
/* Using a <background-color> */
body {
    background-color: rgb(62, 57, 136);
}
header {
    border-radius: 0cap;
}
article {
    border-color: aqua;
}
